.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 65%;
}

.results h2 {
  overflow: hidden;
  font-size: 2em;
  font-weight: 400;
  text-overflow: ellipsis;
}

@media screen and (max-width: 770px) {
  .results {
    width: 100%;
  }
}
