.movieDetail {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
  background-color: #ffffff;
}

.movieDetail button {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1em;
  background-color: #ff0000;
  border-radius: 50%;
}

.movieDetail button i {
  font-size: 1em;
}

.movieDetail h3,
.movieDetail p {
  color: #000000;
}

.movieDetail h3 {
  margin-bottom: 2rem;
  font-size: 1.35em;
  font-weight: 500;
}

.movieDetail p {
  font-size: 1.1em;
}

.movieDetail p:first-of-type {
  margin-bottom: 1rem;
}

@media screen and (max-width: 570px) {
  .movieDetail {
    width: 80vw;
  }
}
