.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 80%;
}

.header h1 {
  font-size: 3.15em;
}

.header button i {
  vertical-align: middle;
  font-size: 2em;
}

@media screen and (max-width: 770px) {
  .header h1 {
    text-align: center;
  }
}

@media screen and (max-width: 370px) {
  .header button i {
    font-size: 1.9em;
  }
}
