.genre-button {
  padding: 0.5rem;
  font-size: 1.15em;
  color: #ffffff;
  background-color: rgba(53, 92, 125, 1);
  border: none;
  border-radius: 99px;
  cursor: pointer;
}

.selected {
  color: #000000;
  background-color: #ffffff;
  cursor: default;
}
