.movie-detail {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 40rem;
  margin-top: auto;
  margin-bottom: auto;
  padding: 2rem;
  background-color: #ffffff;
}

.movie-detail h3,
.movie-detail p {
  color: #000000;
}

.close-modal-button {
  position: absolute;
  top: -0.7rem;
  right: -0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1em;
  color: #ffffff;
  background-color: #ff0000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.close-modal-button i {
  font-size: 1em;
}

.movie-detail-title {
  font-size: 1.35em;
  font-weight: 500;
}

.movie-detail-content {
  width: 100%;
}

.movie-detail-content p {
  font-size: 1.1em;
}

.movie-detail-date {
  margin-bottom: 1rem;
}

.movie-detail .poster,
.movie-detail .poster-not-found {
  float: left;
  width: 15rem;
  margin-right: 1rem;
}

@media screen and (max-width: 770px) {
  .movie-detail {
    background-color: #ffffff;
    max-width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .movie-detail {
    width: 80vw;
  }

  .movie-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .movie-detail-content p {
    width: 100%;
  }

  .movie-detail .poster,
  .movie-detail .poster-not-found {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
