.poster,
.poster-not-found {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.poster img,
.poster-not-found img {
  width: 100%;
}

.poster img {
  object-fit: cover;
  outline: 1px solid #ffffff;
  outline-offset: -1px;
}

.poster-not-found .no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  aspect-ratio: 2 / 3;
  background-color: #a0a0a0;
}

.no-image img {
  width: 38%;
}
