.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  cursor: pointer;
}

.movieCard h4 {
  font-size: 1.15em;
  font-weight: 400;
}

.movieCard:hover h4 {
  text-decoration: underline;
}

@media screen and (max-width: 770px) {
  .movieCard {
    align-items: center;
  }

  .movieCard h4 {
    text-align: center;
  }
}
